<?xml version="1.0" encoding="UTF-8" standalone="no"?><clients>
	<client>
		<name>jaafer</name>
		<password>pwd_jaafer</password>
		<groups>
			<group>enseignant</group>
		</groups>
	</client>
	<client>
		<name>hao</name>
		<password>pwd_hao</password>
		<groups>
			<group>enseignant</group>
		</groups>
	</client>
	<client>
		<name>chhel</name>
		<password>pwd_chhel</password>
		<groups>
			<group>enseignant</group>
		</groups>
	</client>
	<client>
		<name>Thabet</name>
		<password>pwd_thabet</password>
		<groups>
			<group>etudiant</group>
		</groups>
	</client>
	<client>
		<name>jihed</name>
		<password>pwd_jihed</password>
		<groups>
			<group>etudiant</group>
		</groups>
	</client>
	<client>
		<name>younes</name>
		<password>pwd_younes</password>
		<groups>
			<group>etudiant</group>
		</groups>
	</client>
	<client>
		<name>jawher</name>
		<password>pwd_jawher</password>
		<groups>
			<group>etudiant</group>
		</groups>
	</client>
</clients>
